.feature_text {
    &__content {
        width: min(960px, 90vw);
        margin: auto;
        & > * {
            margin-block-end: 2rem;
        }
    }
    &__logo {
        max-width: 200px;
        margin: auto;
        display: block;
        padding-block: 2rem;
        border-bottom: 2px solid white;
    }
}