.hero {
    --hero-height: 100vh;
    min-height: var(--hero-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        display: grid;
        place-content: flex-end;
        justify-content: center;
        min-height: var(--hero-height);
        width: 100%;
        // background: linear-gradient(0deg, hsl(0 0% 0% / 0.8) 0%, hsl(var(--hsl-primary-400)/.8) 100%);
    }
    &__title {
        max-width: min(75ch, 90vw);
        font-size: var(--fs-500);
        font-weight: var(--fw-600);
        text-wrap: balance;
        color: var(--col-highlight-400);
        margin-bottom: 4rem;
        text-shadow: 1px 1px 4px black;
    }

}
