.hero {
    --hero-height: 550px;
    .carousel-inner {
        height: 100%;
        min-height: var(--hero-height);
    }
    .carousel-item {
        height: 100%;
        min-height: var(--hero-height);
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__container {
        display: grid;
        align-items: center;
        height: 100%;
        min-height: var(--hero-height);
        background: linear-gradient(45deg, hsl(0 0% 0% / 0.4), transparent 50%);
        &.is-front {
            margin-top: -3rem;
        }
    }
    &__logo {
        max-width: min(260px,60vw);
        filter: var(--filter-shadow-1);
        margin-bottom: 1rem;
    }
    &__title {
        max-width: min(700px, 90vw);
        font-size: var(--fs-900);
        font-weight: var(--fw-600);
        text-wrap: balance;
        color: white;
        margin-bottom: 1rem;
        text-shadow: 1px 1px 4px black;
    }
    a.button {
        border: 1px solid white;
        border-radius: var(--border-1);
        padding: 0.25rem 0.5rem;
        color: white;
        position: relative;
        display: inline-block;
    }
    a.button--arrow {
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        transition: background-color var(--transition);
        &::after {
            position: absolute;
            content: "\f061";
            font-family: "font awesome 6 free";
            font-weight: 600;
            padding-left: 0.5rem;
            transition: transform var(--transition);
        }
        &:hover {
            background-color: hsl(255 100% 100% / 0.4);
        }
        &:hover::after {
            transform: translateX(0.5rem);
        }
    }
}