.image_cta {
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
    .overlay {
        background: linear-gradient(90deg, var(--col-primary) 33%, transparent 33%);
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    &__content {
        border-radius: var(--border-2);
        padding: 2rem;
        background-color: #fff;
        width: min(700px,90vw);
        img {
            width: 150px;
            margin-bottom: 2rem;
        }
        h3 {
            color: var(--col-primary);
            margin-bottom: 2rem;
        }

        ul {
            font-size: var(--fs-500);
            list-style: none;
            padding-inline-start: 0;
            margin-bottom: 2rem;
            li {
                position: relative;
                margin-bottom: 1rem;
                font-size: var(--fs-450);
                font-weight: var(--fw-600);
            }
        }

        span.icon {
            position: relative;
            margin-bottom: -5px;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .icon--offer {
            background-image: url(../img/icons/icon--pound-quote.svg);
        }
        .icon--calendar {
            background-image: url(../img/icons/icon--calendar.svg);
        }
        .icon--check {
            background-image: url(../img/icons/icon--check-quote.svg);
        }
    }
}