.service_cards {
    padding-block: 3rem;
    &__grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
        @media (min-width:768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__card {
        box-shadow: var(--shadow-1);
        background-color: var(--col-primary-400);
        border-radius: var(--border-1);
        overflow: hidden;
        aspect-ratio: 1;
        @media (min-width:992px) {
            aspect-ratio: 2 / 1;
        }
        position: relative;

        &:hover {
            .service_cards__background {
                transform: scale(1.05);
            }
        }
    }
    &__background {
        position: absolute;
        inset: 0;
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        transition: transform var(--transition);
    }
    &__detail {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem 0.5rem;
        background: linear-gradient(0deg, hsl(0 0% 0% / 0.6) 40%, transparent);
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
        img {
            max-width: 25%;
        }
        h3 {
            font-size: var(--fs-450);
            color: white;
            margin-bottom: 0;
            text-wrap: balance;
        }
    }
}