.text_image {
    &__image {
        border-radius: var(--border-1);
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (min-width:576px) {
        &__buttons {
            flex-direction: row;
        }
    }
}