.blog {
    &__image {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;
        border-radius: var(--border-2);
    }
}

.sidebar {
    background-color: var(--col-primary);
    padding: 1rem;
    border-radius: var(--border-2);
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;

    li {
        list-style: none;
        padding-inline-start: 0;
        font-size: 0.889rem;
        margin-bottom: 0.5rem;
        a {
            text-decoration: none;
            color: white;
            transition: all var(--transition);
            &:hover {
                color: var(--col-secondary);
            }
        }
    }
}