#wrapper-navbar {
    display: none;

    box-shadow: var(--shadow-1);

    transition: transform 0.3s ease-in-out;


    img {
        aspect-ratio: 2 / 1;
        background-color: black;
        width: 140px;
        margin-right: 1rem;
    }

    .menu {
        display: flex;
        flex: auto;
        justify-content: space-between;
    }

}