$col-primary: #007749;
$col-secondary: #bbd686;
$col-brown: #5d2f27;
$col-highlight: #ff7800;
$col-grey: #f0f7f5;

:root {

    --hsl-primary-400: 157 100% 23%;
    --hsl-secondary-400: 80 49% 68%;
    --hsl-brown-400: 9 41% 16%;
    --hsl-highlight-400: 28 100% 50%;
    --hsl-grey-900: 210 8% 5%;

    --col-primary-400: hsl( var(--hsl-primary-400) );
    --col-secondary-400: hsl( var(--hsl-secondary-400) );
    --col-secondary-400: #72bf44;
    --col-brown-400: hsl( var(--hsl-brown-400) );
    --col-highlight-400: hsl( var(--hsl-highlight-400) );
    
    --col-grey-400: hsl(0, 0%, 25%); // #404040;
    --col-grey-800: rgb(51,51,51); // #333333; 
    --col-grey-900: hsl( var(--hsl-grey-900) );

    --col-primary: var(--col-primary-400);
    --col-secondary: var(--col-secondary-400);
    --col-brown: var(--col-brown-400);
    --col-highlight: var(--col-highlight-400);
    --col-grey: #F0F7F5;

    --h-top: 92px;

    --fs-100: clamp(0.64rem, calc(0.66rem + -0.02vw), 0.65rem);
    --fs-200: clamp(0.80rem, calc(0.77rem + 0.17vw), 0.90rem);
    --fs-400: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --fs-450: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-500: clamp(1.25rem, calc(1.20rem + 0.27vw), 1.41rem);
    --fs-600: clamp(1.56rem, calc(1.49rem + 0.34vw), 1.76rem);
    --fs-700: clamp(1.95rem, calc(1.87rem + 0.42vw), 2.20rem);
    --fs-800: clamp(2.44rem, calc(2.33rem + 0.53vw), 2.75rem);
    --fs-900: clamp(3.05rem, calc(2.92rem + 0.66vw), 3.43rem);

    // --fs-200: 0.813rem;
    // --fs-400: 1rem;
    // --fs-600: 1.4rem;
    // --fs-700: 1.8rem;
    // --fs-800: 2.2rem;
    // --fs-900: calc(52px + (72 - 52) * ((100vw - 300px) / (1200 - 300)));

    --fw-400: 400;
    --fw-600: 500;
    --fw-900: 600;

    --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-headings: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --transition: 250ms ease-out;

    --border-1: 6px;
    --border-2: 12px;

    --shadow-1: rgba(0,0,0,.12) 0 1px 3px, rgba(0,0,0,.24) 0 1px 2px;
    --filter-shadow-1: drop-shadow(0 1px 3px rgba(0,0,0,.12)) drop-shadow(0 1px 2px rgba(0,0,0,.24));
}